{{- if env "HTTPS_PROXY" }}
global:
  extraEnvVars:
    - { name: HTTPS_PROXY, value: {{ env "HTTPS_PROXY" | quote }} }
    - { name: HTTP_PROXY, value: {{ env "HTTP_PROXY" | default (env "HTTPS_PROXY") | quote }} }
    - { name: NO_PROXY, value: {{ env "NO_PROXY" | quote }} }
{{- end }}

admissionController:
  replicas: 2
  podDisruptionBudget:
    enabled: true
    minAvailable: 1
  topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: kubernetes.io/hostname
      whenUnsatisfiable: ScheduleAnyway
      labelSelector:
        matchLabels:
          app.kubernetes.io/component: admission-controller
          app.kubernetes.io/instance: kyverno
  container:
    resources:
      requests: { cpu: 50m, memory: 128Mi }
      limits: { memory: 384Mi }
  serviceMonitor:
    enabled: true

backgroundController:
  enabled: false

cleanupController:
  enabled: false

reportsController:
  enabled: false
