server = "{{ item.value.server }}"

[host."{{ item.value.server }}"]
  capabilities = ["pull", "resolve"]
{% for mirror in item.value.mirrors %}

[host."{{ mirror }}"]
  capabilities = ["pull", "resolve"]
{% endfor %}
