apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ node_ip }}
nodeRegistration:
  criSocket: unix:///run/containerd/containerd.sock
skipPhases:
  - addon/kube-proxy
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
clusterName: {{ cluster_name }}
kubernetesVersion: v{{ kubernetes_version }}
controlPlaneEndpoint: "{{ node_ip }}:6443"
networking:
  podSubnet: {{ pod_subnet }}
  serviceSubnet: {{ service_subnet }}
apiServer:
  certSANs:
    - {{ node_ip }}
    - {{ ansible_facts['nodename'] }}
    - 127.0.0.1
    - localhost
  extraArgs:
    - name: encryption-provider-config
      value: /etc/kubernetes/encryption/config.yaml
    - name: audit-policy-file
      value: /etc/kubernetes/audit-policy.yaml
    - name: audit-log-path
      value: /var/log/kubernetes/audit/audit.log
    - name: audit-log-maxage
      value: "7"
    - name: audit-log-maxbackup
      value: "3"
    - name: audit-log-maxsize
      value: "100"
  extraVolumes:
    - name: encryption
      hostPath: /etc/kubernetes/encryption
      mountPath: /etc/kubernetes/encryption
      readOnly: true
      pathType: DirectoryOrCreate
    - name: audit-policy
      hostPath: /etc/kubernetes/audit-policy.yaml
      mountPath: /etc/kubernetes/audit-policy.yaml
      readOnly: true
      pathType: File
    - name: audit-log
      hostPath: /var/log/kubernetes/audit
      mountPath: /var/log/kubernetes/audit
      pathType: DirectoryOrCreate
controllerManager:
  extraArgs:
    - name: bind-address
      value: {{ node_ip }}
scheduler:
  extraArgs:
    - name: bind-address
      value: {{ node_ip }}
etcd:
  local:
    extraArgs:
      - name: listen-metrics-urls
        value: http://127.0.0.1:2381,http://{{ node_ip }}:2381
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd
serverTLSBootstrap: true
containerLogMaxSize: 20Mi
containerLogMaxFiles: 3
